[mysqld]
interactive_timeout = 300
wait_timeout = 300
table_open_cache = 250

#
character_set_server = utf8
innodb_flush_log_at_trx_commit = 0
innodb_buffer_pool_size = 8MB
# db.pool.maxActive x # of nodes
max_connection = 151
sync_binlog = 0
key_buffer = 8388608
read_buffer_size = 131072
table_cache = 400




